<footer class="footer">
    <small>
        The <a href="http://www.reddit.com/">Front page of the internet</a>
        by <a href="http://slinker.org/">Jesse Engel. I didn't make reddit tho.</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",    about_path%></li>
            <li><%= link_to "Contact",  contact_path %></li>
            <li><%= link_to "Sign Up",    signup_path %></li>
            <li><a href="https://news.ycombinator.com/">News yall</a></li>
        </ul>
    </nav>
</footer>
